.container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  resize: horizontal;
  margin: auto;
  box-sizing: 'border-box';
  min-width: min-content;
  max-width: auto;
}

.table {
    border-collapse: collapse;
    border: 2px solid #f0f0f0;
  }
  .table th {
    border: 2px solid #f0f0f0;
  }
  .table td {
    border: 2px solid #f0f0f0;
  }
  .table tr:nth-child(2n) {
    background: #f7f7f7;
  }

button {
  border: none;
  background: none;
  color: grey;
  width: 100%;
}
